{{- if eq .chezmoi.osRelease.id "arch" -}}
  #!/bin/sh
  echo "[+] Configure Sway"
  yay -S --needed --noconfirm sway swaylock waybar \
    network-manager-applet \
    swayidle slurp swappy \
    playerctl light wofi
  echo 'if [ -z "$WAYLAND_DISPLAY" ] && [ -n "$XDG_VTNR" ] && [ "$XDG_VTNR" -eq 1 ] ; then
    exec sway
fi' >> ~/.zprofile
{{- else -}}
  #!/bin/sh
  echo "[-] ArchLinux undetected"
{{- end -}}
